include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/geoserver_webservice *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/geoserver_webservice/migration *.ini *.py *.mako
