{% extends "user/read_base.html" %}

{% import 'macros/form.html' as form %}

{% block page_primary_action %}
    {% if errors %}
        <div class="error-explanation alert alert-error " bis_skin_checked="1">
            <p>{{ errors.error }}</p>
            <ul>
            <li>{{ errors.context }}</li>
            </ul>
        </div>
    {% endif %}

    <h2>Geoserver Roles</h2>
    <hr>
    {% if h.check_access('geoserver_user_role_modify')%}
        {% set action = h.url_for("geoserver_webservice.add_user_role", user_id=user['name']) %}
        <form action="{{ action }}" method="POST">
            {% block form_actions %}
                <button id="submit-add_role" class="btn btn-primary" type="submit" disabled=True value="create" style="float: right; position: relative; top:25px;">
                {{ _('Add User Role') }}
                </button>
            {% endblock form_actions %}
            <div style="overflow: hidden; padding-right: .5em;">
            {% block base_fields %}
                {% call form.select('role_name',
                        label=_('Add User Role'),
                        id='field-role',
                        options=role_options,
                        is_required=False) %}
                {% endcall %}
            {% endblock base_fields %}
            </div>
        </form>
        <hr>
    {% endif %}

    <h4> User Roles </h4>
    {% snippet 'user/snippets/user_role_list.html', roles=user_roles, user=user%}
    <hr>
    <h4> Organization Roles </h4>
    {% snippet 'user/snippets/base_role_list.html', roles=organization_roles, user=user%}
    <hr>
    <h4> Default Roles </h4>
    {% snippet 'user/snippets/base_role_list.html', roles=default_roles, user=user%}

    {% block custom_js %}
        <script type="application/javascript">
            let field_role = document.getElementById('field-role')
            field_role.addEventListener('change', (event) => {
                document.getElementById("submit-add_role").disabled = 'null' == field_role.value
            });
        </script>
    {% endblock custom_js %}

{% endblock page_primary_action %}


{% block primary_content_inner %}

{% endblock primary_content_inner %}



{% block secondary_content_inner %}
  {{ super() }}
  <div class="info">
    <dl>
      <dt>{{ _('Geoserver Authkey') }}</dt>
      <dd>{{ h.get_geoserver_user_authkey(user_id=user['name']).authkey }}</dd>
    </dl>
  </div>
{% endblock %}
