{% ckan_extends %}
{% import 'macros/form.html' as form %}

{% block page_primary_action %}
<!-- GEOSERVER_WEB_SERVICE user/read.html ACTIVE -->
{# Geoserver Roles #}
<div class="profile-section d-flex flex-column">
  <h3>Geoserver Roles</h3>
  <!-- Add User Container  -->
  <div>
    {% if errors %}
    <div class="error-explanation alert alert-error " bis_skin_checked="1">
      <p>{{ errors.error }}</p>
      <ul>
        <li>{{ errors.context }}</li>
      </ul>
    </div>
    {% endif %}
    {% if h.check_access('geoserver_user_role_modify')%}
    {% set action = h.url_for("geoserver_webservice.add_user_role", user_id=user['name']) %}
    <form action="{{ action }}" method="POST">
      {% block form_actions %}
      <button id="submit-add_role" class="btn btn-primary auth-button-login" type="submit" disabled=True value="create"
        style="float: right; position: relative; top:25px;">
        {{ _('Add User Role') }}
      </button>
      {% endblock form_actions %}
      <div style="overflow: hidden; padding-right: .5em;">
        {% block base_fields %}
        {% call form.select('role_name',
        label=_('Add User Role'),
        id='field-role',
        options=role_options,
        is_required=False) %}
        {% endcall %}
        {% endblock base_fields %}
      </div>
    </form>
    {% endif %}
  </div>
  <!-- User Roles Container -->
  <div>
    <h4>User Roles</h4>
    {% snippet 'user/snippets/user_role_list.html', roles=user_roles, user=user%}
  </div>

  <!-- Organisation Roles Container -->
  <div>
    <h4>Organisation Roles</h4>
    {% snippet 'user/snippets/base_role_list.html', roles=organization_roles, user=user, is_default=false %}
  </div>

  <!-- Default Roles Container -->
  <div>
    <h4>Default Roles</h4>
    {% snippet 'user/snippets/base_role_list.html', roles=default_roles, user=user, is_default=true %}
  </div>

</div>



{% block custom_js %}
<script type="application/javascript">
  let field_role = document.getElementById('field-role')
  field_role.addEventListener('change', (event) => {
    document.getElementById("submit-add_role").disabled = 'null' == field_role.value
  });
</script>
{% endblock custom_js %}
{% endblock %}


{% block geoserver_authkey %}
{% set user_authkey_dict = h.geoserver_new_authkey({user_id:user['name']}) %}
{% set refresh_url = h.url_for("geoserver_webservice.refresh_user_authkey", user_id=user["id"]) %}
<div class="field-row">
  <span class="field-label">Geoserver Authkey</span>
  <span class="field-value authkey-value">
    {% if user_authkey_dict %}
    {{ user_authkey_dict.authkey }}
    {% else %}
    Not configured
    {% endif %}
  </span>
  <a href="{{ refresh_url }}" class="field-refresh fit-content-width">Refresh</a>
</div>
{% endblock %}