<table class="table fs-6 resource-table"> 
  <thead>
    <tr>
      {% block head_cells %}
      {% block head_cell_role %}<th scope="col">{{ _('Role') }}</th>{% endblock %}
      {% endblock head_cells %}
    </tr>
  </thead>
  <tbody>
    {% if roles %}
    {% for role in roles %}
    <tr>
      {% block role_cells scoped %}
      {% block role_cell_name %}
      <td class="align-middle">
        {{ role }}
      </td>
      {% endblock role_cell_name %}

      {% endblock role_cells %}
    </tr>
    {% endfor %}
    {% else %}

    <tr>
      <td class="align-middle">No Roles exists.</td>
    </tr>
    {% endif %}

  </tbody>
</table>