<table class="table table-stripped table-condensed table-header table-hover table-bordered">
    <thead>
      <tr>
        {% block head_cells %}
          {% block head_cell_role %}<th scope="col">{{ _('Role') }}</th>{% endblock %}
          {% block head_cell_actions %}<th scope="col">{{ _('Actions') }}</th>{% endblock %}
        {% endblock head_cells %}
      </tr>
    </thead>
    <tbody>
      {% for role in roles %}
        <tr>
          {% block role_cells scoped %}
            {% block role_cell_name %}
              <td colspan="1">
                <code>
                  {{ role.role }}
                </code>
              </td>
            {% endblock role_cell_name %}

            {% block role_cell_actions %}
              <td>
                {% set action = h.url_for("geoserver_webservice.delete_user_role", user_id=user['name'], role_id=role.id) %}
                <form action="{{ action }}" method="POST">
                  <div class="btn-group">
                    <button type="submit" href="{{ action }}" class="btn btn-danger btn-sm" title="{{ _('Revoke') }}" data-module="confirm-action">
                      <i class="fa fa-times"></i>
                    </button>
                  </div>
                </form>
              </td>
            {% endblock role_cell_actions %}
          {% endblock role_cells %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  